@page "/"
@using HorseBarn.lib
@using Neatoo.Portal

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    [Inject]
    public IReadPortal<IHorseBarn> ReadPortal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {


        var horseBarn = await ReadPortal.Fetch();
    }
}