@using HorseBarn.lib.Horse
@inject NavigationManager Navigation

@if (Horse != null)
{
    <div class="card">
        <div class="card-header">
            @Horse.Name
        </div>
        <div class="card-body">
            <div>Birth Date: @Horse.BirthDate?.ToShortDateString()</div>
            <div>Breed: @Horse.Breed</div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
[Parameter]
public IHorse Horse { get; set; } = default!;

protected override void OnParametersSet()
{
    base.OnParametersSet();
}
}